:root {
    --color-text: #4d5ae5; 
    --color-background: #F4F4FD;
    --body-color: #434455;
    --iris: #4d5ae5;

}
body {
    font-family: "Roboto", sans-serif;
    color:var(--body-color);
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
.list {
    background-color: white;
    text-decoration: none;
    list-style: none;
}
a {
    font-size: 12px;
    line-height: 1.3;
    text-decoration: none;
}
h2 {
    font-size: 36px;

h3 {
    font-size: 20 px;
}
}
li {
    color: #2E2F42;
    font-size: 12px;
}
header {
    background-color: var(--color-white);
}
.btn {
    font-weight: 500;
    background-color: var(--color-background);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-text);
    cursor: pointer;
}
button:hover, button:active {
    color: white;
    background-color: #404BBF;
}
a.link:hover, a.link:active {
    color: #404BBF;}
 
.link: {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.contact {
    font-style: normal;
}
.logocolor {
     color: #2e2f42;
}
.bg {
    background-color: #2E2F42;
    color: var(--color-white);
    text-decoration: none;
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.span {
    color: #2e2f42;
}